{% extends 'home.html' %}
{% load custom_filters %}

{% block content %}
<div class="course-modules-container">
    
    <h2 class="module-main-title">{{ materia.nombre }}</h2>

    <div class="placeholder-text module-description-text">
        Selecciona una actividad para empezar a practicar.
    </div>
    
    {% for activity_name in materia.activities %}
        <a href="/{{ materia.link|index:forloop.counter0 }}/" class="module-card">
            <div class="module-title">{{ activity_name }}</div>
            <div class="module-status-icon">
                <i class="fas fa-arrow-right"></i>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
