{% extends 'home.html' %}

{% block content %}
<h1>Task Page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure veniam facere, optio dolorum suscipit voluptates nesciunt earum aperiam inventore exercitationem doloremque eius perferendis soluta maxime sint praesentium omnis, voluptatem ipsam necessitatibus quasi, ut nam laboriosam nemo sunt. Saepe optio necessitatibus temporibus. Debitis praesentium consectetur nulla maxime sapiente! Cupiditate sed distinctio iste odit officia reprehenderit porro, praesentium facilis deserunt beatae veritatis commodi molestias temporibus perspiciatis nulla rem illo sit enim quisquam error! Sequi, a blanditiis cupiditate, odit facilis natus hic asperiores dolorum necessitatibus eum quis laborum voluptatibus porro! Ratione minus magnam culpa dolores, non doloribus, quae est delectus ab accusantium praesentium.</p>
{% endblock %}