body {
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    color: #222;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #4e73df;
    color: white;
    
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 30px;
}

.explicacion, .grafico {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    flex: 1 1 400px;
}

.formula {
    font-size: 1.2em;
    background: #eef3ff;
    padding: 5px 10px;
    border-radius: 10px;
}

.controles {
    margin-top: 20px;
    text-align: center;
}

input[type="range"] {
    width: 80%;
}


